/**
 *
 * Uncomment and set these variables to customize the grid
 *
 */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }

  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
.col-full {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.col-1 {
  width: 10%;
}

.col-3 {
  width: 30%;
}

.col-80 {
  width: 60%;
  display: block;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.margin-t-0 {
  margin-bottom: 0px;
}

.margin-l-0 {
  margin-bottom: 0px;
}

.margin-r-0 {
  margin-bottom: 0px;
}

.margin-b-1 {
  margin-bottom: 1px;
}

.margin-t-1 {
  margin-bottom: 1px;
}

.margin-l-1 {
  margin-bottom: 1px;
}

.margin-r-1 {
  margin-bottom: 1px;
}

.margin-b-2 {
  margin-bottom: 2px;
}

.margin-t-2 {
  margin-bottom: 2px;
}

.margin-l-2 {
  margin-bottom: 2px;
}

.margin-r-2 {
  margin-bottom: 2px;
}

.margin-b-3 {
  margin-bottom: 3px;
}

.margin-t-3 {
  margin-bottom: 3px;
}

.margin-l-3 {
  margin-bottom: 3px;
}

.margin-r-3 {
  margin-bottom: 3px;
}

.margin-b-4 {
  margin-bottom: 4px;
}

.margin-t-4 {
  margin-bottom: 4px;
}

.margin-l-4 {
  margin-bottom: 4px;
}

.margin-r-4 {
  margin-bottom: 4px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-t-5 {
  margin-bottom: 5px;
}

.margin-l-5 {
  margin-bottom: 5px;
}

.margin-r-5 {
  margin-bottom: 5px;
}

.margin-b-6 {
  margin-bottom: 6px;
}

.margin-t-6 {
  margin-bottom: 6px;
}

.margin-l-6 {
  margin-bottom: 6px;
}

.margin-r-6 {
  margin-bottom: 6px;
}

.margin-b-7 {
  margin-bottom: 7px;
}

.margin-t-7 {
  margin-bottom: 7px;
}

.margin-l-7 {
  margin-bottom: 7px;
}

.margin-r-7 {
  margin-bottom: 7px;
}

.margin-b-8 {
  margin-bottom: 8px;
}

.margin-t-8 {
  margin-bottom: 8px;
}

.margin-l-8 {
  margin-bottom: 8px;
}

.margin-r-8 {
  margin-bottom: 8px;
}

.margin-b-9 {
  margin-bottom: 9px;
}

.margin-t-9 {
  margin-bottom: 9px;
}

.margin-l-9 {
  margin-bottom: 9px;
}

.margin-r-9 {
  margin-bottom: 9px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-t-10 {
  margin-bottom: 10px;
}

.margin-l-10 {
  margin-bottom: 10px;
}

.margin-r-10 {
  margin-bottom: 10px;
}

.margin-b-11 {
  margin-bottom: 11px;
}

.margin-t-11 {
  margin-bottom: 11px;
}

.margin-l-11 {
  margin-bottom: 11px;
}

.margin-r-11 {
  margin-bottom: 11px;
}

.margin-b-12 {
  margin-bottom: 12px;
}

.margin-t-12 {
  margin-bottom: 12px;
}

.margin-l-12 {
  margin-bottom: 12px;
}

.margin-r-12 {
  margin-bottom: 12px;
}

.margin-b-13 {
  margin-bottom: 13px;
}

.margin-t-13 {
  margin-bottom: 13px;
}

.margin-l-13 {
  margin-bottom: 13px;
}

.margin-r-13 {
  margin-bottom: 13px;
}

.margin-b-14 {
  margin-bottom: 14px;
}

.margin-t-14 {
  margin-bottom: 14px;
}

.margin-l-14 {
  margin-bottom: 14px;
}

.margin-r-14 {
  margin-bottom: 14px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-t-15 {
  margin-bottom: 15px;
}

.margin-l-15 {
  margin-bottom: 15px;
}

.margin-r-15 {
  margin-bottom: 15px;
}

.margin-b-16 {
  margin-bottom: 16px;
}

.margin-t-16 {
  margin-bottom: 16px;
}

.margin-l-16 {
  margin-bottom: 16px;
}

.margin-r-16 {
  margin-bottom: 16px;
}

.margin-b-17 {
  margin-bottom: 17px;
}

.margin-t-17 {
  margin-bottom: 17px;
}

.margin-l-17 {
  margin-bottom: 17px;
}

.margin-r-17 {
  margin-bottom: 17px;
}

.margin-b-18 {
  margin-bottom: 18px;
}

.margin-t-18 {
  margin-bottom: 18px;
}

.margin-l-18 {
  margin-bottom: 18px;
}

.margin-r-18 {
  margin-bottom: 18px;
}

.margin-b-19 {
  margin-bottom: 19px;
}

.margin-t-19 {
  margin-bottom: 19px;
}

.margin-l-19 {
  margin-bottom: 19px;
}

.margin-r-19 {
  margin-bottom: 19px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-t-20 {
  margin-bottom: 20px;
}

.margin-l-20 {
  margin-bottom: 20px;
}

.margin-r-20 {
  margin-bottom: 20px;
}

/*color-circle*/
.component-color {
  width: 100%;
  min-width: 100%;
  max-width: 100% !important;
  float: left;
  background-color: #222330;
  border-radius: 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bbb;
}
.component-color:hover {
  border-color: #222330;
  box-shadow: inset 0 0 0 1px #222330;
}
.component-color .box {
  float: left;
  width: 3rem;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
.component-color span {
  float: left;
  width: calc(100% - 3rem);
  background-color: #fff;
  height: 45px;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.component-color .color-circle {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  overflow: hidden;
}
.component-color .color-circle [type=color] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}

/**
 *
 * Switch button
 *
 */
.toggle {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 23px;
  background-color: #ccc;
  border-radius: 30px;
  border: 2px solid #ccc;
}
.toggle:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #fff;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
}
.toggle p {
  font-weight: bold;
  font-size: 8px;
  margin: 5px auto;
  color: #fff;
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-items: center;
}

.checkbox {
  display: none;
}
.checkbox:checked + .toggle {
  background-color: #00aa33;
  border: 2px solid #00aa33;
}
.checkbox:checked + .toggle::after {
  left: 23px;
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.flex-form #edit-actions {
  margin-top: 1.1rem;
  margin-left: 0.7rem;
}

.form-item {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

table .button {
  margin: 0rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  font-size: 0.9rem;
}

/*form search*/
.meeting-filter-form .js-form-item-title-search.form-item {
  display: block !important;
  margin-top: 1rem !important;
  margin-bottom: 0px !important;
}

.flex-form-search {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.flex-form-search #edit-actions {
  margin-top: 0.4rem;
  margin-left: 0.7rem;
}
.flex-form-search #edit-actions #edit-submit {
  height: 2.5rem;
  min-height: 2.5rem;
}
.flex-form-search #edit-actions a {
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}

/* button styles */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus,
input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  display: inline-block;
  margin: 1rem 0.75rem 1rem 0;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #222330;
  border: 1px solid transparent !important;
  border-radius: 2px;
  background-color: #bbb;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
}

.btn-sm {
  padding: calc(0.5rem - 1px) calc(0.5rem - 1px);
  margin: 0;
  margin-left: 3px;
  font-size: 0.9rem;
  width: 100px !important;
  max-width: 100px !important;
  min-width: 100px !important;
  justify-content: center;
  height: 28px !important;
  min-height: 28px !important;
  max-height: 28px !important;
}

.btn-xs {
  padding: calc(0.5rem - 1px) calc(0.5rem - 1px);
  margin: 0;
  font-size: 0.9rem;
  width: 100% !important;
  max-width: 50px !important;
  min-width: 30px !important;
  justify-content: center;
  height: 28px !important;
  min-height: 28px !important;
  max-height: 28px !important;
}

/* Info button styles */
.btn--info {
  color: #fff;
  background-color: #00a2ed;
}

.btn--info:hover {
  color: #fff;
  background-color: #00aaee;
}

.btn--info:active {
  background-color: #5dadec;
}

.btn--info:focus {
  background-color: #5dadec;
}

/* success button styles */
.btn--success {
  color: #fff;
  background-color: #00aa33;
}

.btn--success:hover {
  color: #fff;
  background-color: #25c056;
}

.btn--success:active {
  background-color: #1d9543;
}

/* Primary button styles */
.btn--primary {
  color: #fff;
  background-color: #003cc5;
}

.btn--primary:hover {
  color: #fff;
  background-color: #0036b1;
}

.btn--primary:active {
  background-color: #00339a;
}

a.btn--primary:hover,
a.btn--primary:active {
  color: #fff;
}

/* Danger button styles */
.btn--danger {
  color: #fff;
  background-color: #d72222;
}

.btn--danger:hover {
  color: #fff;
  background-color: #c11f1f;
}

.btn--danger:active {
  background-color: #ab1b1b;
}

a.btn--danger:hover,
a.btn--danger:active {
  color: #fff;
}

/* embed-link */
a.embed-link,
a.embed-link:hover,
a.embed-link:active {
  background-color: #f9f9f9;
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #bbb;
}

/* alert */
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f9f9f9;
  color: #fff;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.alert-danger {
  background-color: #d72222;
  color: #fff;
}

.alert-success {
  background-color: #00aa33;
  color: #fff;
}

.alert-info {
  background-color: #00a2ed;
  color: #fff;
}

.result-message .messages-list {
  margin-top: 0px;
}

.result-message .messages {
  padding: 1rem 1rem 1rem 1.1875rem;
}

/*meeting form*/
#edit-meeting-description-format,
#edit-description-format,
#edit-description-format--3,
#edit-description-format--5 {
  display: none;
}

.meeting-form #ajax-wrapper,
.meeting-form #ajax-wrapper .form-managed-file__main {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.text-center {
  text-align: center;
}

.meeting-form .form-wrapper .form-item {
  flex-direction: column !important;
  margin-bottom: 0rem !important;
  width: 100%;
}

/* actions dropdown */
.action-dropdown {
  float: left;
  position: relative;
}

.action-link-dropdown {
  float: left;
  cursor: pointer;
  padding: 4.5px;
  background-color: #f1f1f1;
}

.action-item-dropdown {
  min-width: 150px;
  display: none;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  box-shadow: 7px 7px 5px -6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 7px 7px 5px -6px rgba(0, 0, 0, 0.08);
  top: 30px;
  z-index: 3;
  border: 1px solid #f1f1f1;
  color: #666;
  overflow: hidden;
}

.action-dropdown button,
.action-dropdown button:active,
.action-dropdown button:focus,
.action-dropdown a,
.action-dropdown a:active,
.action-dropdown a:focus {
  background: #fff;
  border: 0px;
  outline: none;
  box-shadow: none;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
  color: #666;
  width: 100%;
  text-align: left;
  text-decoration: none;
  float: left;
}

.action-dropdown button:hover,
.action-dropdown a:hover {
  background: #f9f9f9;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.m-auto {
  margin: auto;
}

/*custom placeholder*/
.placeholder .ph-row div,
.placeholder .ph-picture {
  background-color: #f1f1f1;
}

.placeholder .ph-item {
  border: 0px solid #bbb;
  margin-bottom: 0px;
  padding: 0px;
}

.placeholder .ph-item > * {
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.placeholder .ph-item > * .field {
  min-height: 3rem;
}

.placeholder .ph-item > * .ph-col-1 {
  width: 5px;
  display: block;
}

.template-meeting .cke_contents,
.meeting-form .cke_contents {
  min-height: 100px !important;
  max-height: 100px !important;
}

.btn-activate-module {
  position: absolute;
  right: 0px;
  top: 6px;
  z-index: 2;
}

/*table*/
.template-meeting table thead th {
  font-size: 0.889rem;
  padding: 0.5rem;
}

/**
 *
 * Results background image
 *
 */
.box-thumb div:first-child {
  width: 100%;
  min-width: 100%;
}
.box-thumb div .form-element {
  width: 100%;
  min-width: 100%;
}

.form-item--meeting-results-background .file--image {
  float: left;
  margin: 10px 0 0 0;
}
.form-item--meeting-results-background .file--image a {
  text-decoration: none;
  color: #8e929c;
  font-size: 1rem;
}
.form-item--meeting-results-background .file--image span {
  color: #8e929c;
}
.form-item--meeting-results-background .button {
  float: right;
  margin-right: 0;
  padding: 10px 20px;
}
.form-item--meeting-results-background .form-item__description {
  float: left;
  width: 70%;
  font-size: 0.6rem;
}

.js-form-item-meeting-results-background .image-preview {
  margin-bottom: 20px;
}
.js-form-item-meeting-results-background .form-submit {
  height: 31px;
  min-height: 31px;
  max-height: 31px;
  padding: 10px;
  justify-content: center;
  line-height: 0;
}

.toolbar-icon-meeting-settings:before {
  background-image: url(../img/meeting.svg);
  fill: #ff9900;
}

/**
 *
 * Tabs
 *
 */
#tabs main {
  min-width: 100%;
  max-width: 100%;
  padding: 20px 0px;
  margin: 0 auto;
  background: #fff;
}
#tabs section {
  display: none;
  padding: 5px 0 20px 0;
  border-top: 1px solid #ddd;
}
#tabs input.radio__tab {
  display: none;
}
#tabs input:checked + label.label__tab {
  color: #000;
  border: 1px solid #ddd;
  border-top: 2px solid #003cc5;
  border-bottom: 1px solid #fff;
}
#tabs input:checked + label.label__tab.disabled {
  border-top: 2px solid #bbb;
  color: #bbb;
}
#tabs label.label__tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  font-size: 0.889rem;
}
#tabs label:hover {
  color: #8e929c;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  #tabs label.label__tab {
    font-size: 0;
  }
}
@media screen and (max-width: 400px) {
  #tabs label.label__tab {
    padding: 15px;
  }
}
#tabs label.disabled {
  color: #bbb;
  opacity: 0.5;
}
#tabs label.disabled:hover {
  cursor: default;
  color: #bbb;
}
#tabs #tab1:checked ~ #content1 {
  display: block;
  position: relative;
}
#tabs #tab2:checked ~ #content2 {
  display: block;
  position: relative;
}
#tabs #tab3:checked ~ #content3 {
  display: block;
  position: relative;
}
#tabs #tab4:checked ~ #content4 {
  display: block;
  position: relative;
}

#display_poll table tbody tr {
  text-align: center;
}
#display_poll table tbody tr .text-left {
  text-align: center;
}
#display_poll table tbody tr .action-dropdown-wrapper {
  display: flex;
}

.poll-form .form-wrapper .form-item {
  flex-direction: column !important;
  margin-bottom: 1rem !important;
  width: 100%;
}

.question-form .form-wrapper .form-item {
  flex-direction: column !important;
  margin-bottom: 1rem !important;
  width: 100%;
}

.survey-form .form-wrapper .form-item {
  flex-direction: column !important;
  margin-bottom: 1rem !important;
  width: 100%;
}

.info-form .form-wrapper .form-item {
  flex-direction: column !important;
  margin-bottom: 1rem !important;
  width: 100%;
}

.page-meeting-poll-display-results .page-header,
.page-meeting-poll-display-results .toolbar,
.page-meeting-poll-display-results .back-btn,
.page-meeting-poll-display-results .block-page-title-block {
  display: none !important;
}

.poll-result {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px !important;
  z-index: 999999;
  background: #fff;
  padding: 5rem;
  display: block !important;
}
.poll-result .poll-result-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
}
.poll-result .poll-result-content h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: inherit;
  margin-bottom: 2rem;
}
.poll-result .poll-result-content ul {
  margin: 0px;
  padding: 0px;
}
.poll-result .poll-result-content ul li {
  list-style: none;
  float: left;
  width: 100%;
  padding: 5px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.poll-result .poll-result-content ul li .poll-result-content__label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.poll-result .poll-result-content ul li .poll-result-content__bar {
  background-color: #e1e1e1;
  float: left;
  width: 100%;
  height: 18px;
  margin-top: 6px;
}
.poll-result .poll-result-content ul li .poll-result-content__bar span {
  display: block;
  height: 18px;
  background-color: #009258;
}

.result-answer-message .messages-list {
  margin-top: 0;
}
.result-answer-message .messages-list .messages {
  margin-top: 10px;
  padding: 1rem 1rem 1rem 1.1875rem;
}
.result-answer-message .messages-list .messages .messages__header {
  margin-bottom: 0px;
}

.poll-answer-form .form-wrapper .form-item.form-item-answer {
  flex-direction: column !important;
  margin-bottom: 1rem !important;
  width: 100%;
}

.question-moderator h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.question-moderator .col-question h3 {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  font-size: 14px;
}
.question-moderator .col-question ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0px;
  padding: 10px;
}
.question-moderator .col-question ul li {
  display: grid;
  grid-template-columns: 1fr 90px;
  list-style: none;
  margin-bottom: 15px;
}
.question-moderator .col-question ul li:last-child {
  margin-bottom: 0px;
}
.question-moderator .col-question ul li .col-left {
  display: flex;
  width: 95%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}
.question-moderator .col-question ul li .col-left .textarea {
  border: 1px solid #ddd;
  width: 100%;
  height: auto;
  min-height: 40px;
  background-color: transparent;
  font-size: 13px;
  padding: 10px;
}
.question-moderator .col-question ul li .col-left .textarea:focus {
  outline: none;
}
.question-moderator .col-question ul li .col-left .textarea:last-child {
  margin-bottom: 0px;
}
.question-moderator .col-question ul li .col-left .actions {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
.question-moderator .col-question ul li .col-left .actions button {
  display: block;
  border: 1px solid #1d9543;
  padding: 2px;
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  min-height: 20px;
  border-radius: 30px;
  font-size: 13px;
  background-color: #fff;
  color: #1d9543;
  transition: all 0.2s;
}
.question-moderator .col-question ul li .col-left .actions button:hover {
  background-color: #25c056;
  color: #fff;
}
.question-moderator .col-question ul li .col-left .actions button.cancel {
  border: 1px solid #d72222;
  color: #d72222;
  margin-right: 10px;
}
.question-moderator .col-question ul li .col-left .actions button.cancel:hover {
  background-color: #d72222;
  color: #fff;
}
.question-moderator .col-question ul li .col-left .actions button:disabled {
  border: 1px solid #eee;
  color: #eee;
}
.question-moderator .col-question ul li .col-left .actions button:disabled:hover {
  background-color: #fff;
  border: 1px solid #eee;
  color: #eee;
}
.question-moderator .col-question ul li .col-right {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.question-moderator .col-question ul li .col-right button {
  display: block;
  border: 0px;
  padding: 2px;
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  min-height: 24px;
  border-radius: 30px;
  font-size: 13px;
  background-color: #00aa33;
  color: #fff;
  transition: all 0.2s;
}
.question-moderator .col-question ul li .col-right button:hover {
  background-color: #25c056;
}
.question-moderator .col-question ul li .col-right button.archive {
  background-color: #d72222;
}
.question-moderator .col-question ul li .col-right button.archive:hover {
  background-color: #c11f1f;
}
.question-moderator .col-question ul li.border-bottom-1 {
  border-bottom: 1px solid #ddd;
}
.question-moderator .col-question ul li.border-bottom-1:last-child {
  border-bottom: 0px;
}
.question-moderator .col-question ul li.no-results {
  text-align: center;
  font-size: 13px;
  display: block;
  width: 100%;
}
.question-moderator .col-question ul li.full {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin-bottom: 15px;
}
.question-moderator .col-question ul li.full:last-child {
  margin-bottom: 0px;
}
.question-moderator .col-question ul li.full .col-left {
  display: flex;
  width: 95%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}
.question-moderator .col-question ul li.full .col-left .textarea {
  border: 0px solid #ddd;
  width: 100%;
  height: auto;
  min-height: 40px;
  background-color: transparent;
  font-size: 13px;
  padding: 10px;
}
.question-moderator .col-question ul li.full .col-left .textarea:focus {
  outline: none;
}