$black: #000;
$gray-900: #222330;
$gray-600: #666;
$gray-500: #8e929c;
$gray-400: #bbb;
$gray-300: #ccc;
$gray-200: #ddd;
$gray-100: #eee;
$gray-50: #f1f1f1;
$gray-20: #f9f9f9;
$white: #fff;
$primary: #003cc5;
$primary-hover: #0036b1;
$primary-active: #00339a;
$success: #00aa33;
$success-hover: #25c056;
$success-active: #1d9543;
$danger: #d72222;
$danger-hover: #c11f1f;
$danger-active: #ab1b1b;
$secondary: #e1e1e1;
$info: #00a2ed;
$info-hover: #00aaee;
$info-active: #5dadec;